<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300italic' rel='stylesheet' type='text/css'>
<style type="text/css">

body {
    padding:0;
}

a, a:hover, a:visited  {
    color: #01528C ;
    text-decoration: none;
}
p {
    font-size: [text_size_normal]px;
    font-family: 'Roboto';
}
li {
    font-size: [text_size_normal]px;
    font-family: 'Roboto';
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #04305A ;
    font-size: [text_size_h2]px;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: [text_size_h1]px;
}
blockquote {
    margin: 0px;
    padding: 4px 20px;
    border-left: 5px #CECED2  solid;
}
blockquote p {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
}
strong {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}
img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
}
b {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #04305A;
}
em {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
}

@media (min-width: 320px) {
    p {
        font-size: [text_size_normal]px;
    }
    h1 {
        font-size: [text_size_h1]px;
    }
    h2 {
        font-size: [text_size_h2]px;
    }
    blockquote {
        padding: 4px 20px;
        border-left: 5px #CECED2  solid;
    }
    img {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
@media (min-width: 750px) {
    p {
        font-size: [text_size_normal_@2x]px;
    }
    h1 {
        font-size: [text_size_h1_@2x]px;
    }
    h2 {
        font-size: [text_size_h2_@2x]px;
    }
    blockquote {
        padding: 8px 40px;
        border-left: 10px #CECED2  solid;
    }
    img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (min-width: 1080px) {
    p {
        font-size: [text_size_normal_@3x]px;
    }
    h1 {
        font-size: [text_size_h1_@3x]px;
    }
    h2 {
        font-size: [text_size_h2_@2x]px;
    }
    blockquote {
        padding: 12px 60px;
        border-left: 15px #CECED2  solid;
    }
    img {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
</style>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>